.titulo_center {
  text-align: center;
  font-weight: bold;
}

div.filtros_char div.selectize-input {
    max-height: 102px;
    overflow-y: auto;
}

h3.control-sidebar-heading {
  height: 0;
  margin: 0;
  padding: 0;
}

aside.control-sidebar.control-sidebar-dark {
  min-height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

div[class^="tooltip_svg_"] {
  padding: 0 0 0 0 ;
  height: 0 !important;
  width: 0 !important;
  top: 0 !important;
  left: 0 !important;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapper {
    background-color: #ecf0f5 !important;
    overflow-y: hidden;
    overflow: hidden;
}

.btn {
  overflow-wrap: anywhere !important;
  white-space: normal !important;
}

.btn-file {
    white-space: nowrap !important;
}

.dropdown-menu.open {
  max-width: 100%;
}

.nota_tecnica_jerarquia_row {
  display: flex;
}

div.nota_tecnica_jerarquia_row div.box {
  height: 100%;
}

div.nota_tecnica_jerarquia_row div.box-body {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
}

div.nota_tecnica_jerarquia_row div.box-body
div.ui-sortable {
  height: 100%;
}

.nota_tecnica_juntar_btn {
  width: 100%;
  border: 0;
}


div.escenarios_inline_div div.col-sm-2 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

div.escenarios_inline_div div.col-sm-4 {
  padding: 0 !important; 
}

div.escenarios_inline_div div.dataTables_scrollBody {
  overflow-x: scroll !important;
}

div.escenarios_inline_div td {
  padding: 0 3px 0 3px !important;
}

.btn {
  border-radius: 0 !important;
}

.main-header .navbar {
  background-color: rgb(0, 148, 217) !important;
}

.skin-blue-light .main-header .logo {
  background-color: rgb(0, 148, 217) !important;
}

.main-header .logo {
  padding: 0 5px;
}

.control-sidebar-dark {
  background-color: transparent !important;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a {
  background-color: transparent !important;
}

.control-sidebar-dark+.control-sidebar-bg {
  background-color: rgba(34, 45, 50, 0.9) !important;
}