div.filtros_char div.selectize-input {
    max-height: 102px;
    overflow-y: auto;
}

div[class^="tooltip_svg_"] {
  padding: 0 0 0 0 ;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapper {
    background-color: #ecf0f5 !important;
    overflow: hidden;
}

.btn {
  overflow-wrap: anywhere !important;
  white-space: normal !important;
}

.btn-file {
    white-space: nowrap !important;
}

.dropdown-menu.open {
  max-width: 100%;
}